name: main 

on:
  schedule:
    - cron: '*/5 * * * *'  # Executa a cada 5 minutos
  workflow_dispatch:        # Permite execução manual

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v3

      - name: Instalar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Criar arquivo hxh.json
        run: echo '${{ secrets.GCP_JSON_BASE64 }}' > hxh.json
      
      - name: Instalar dependências
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          python -m playwright install chromium
          python -m playwright install-deps 

      - name: Executar o script
        # AQUI ESTAVA O ERRO: Mudamos de main.py para main2.py
        run: xvfb-run python main2.py
