name: main 

on:
  schedule:
    - cron: '*/5 * * * *'  # Executa a cada 5 minutos
  workflow_dispatch:        # Permite execução manual

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v3

      - name: Instalar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      # --- OPÇÃO A: Se o seu Secret for TEXTO PURO (JSON Normal) ---
      # Use este bloco se você copiou e colou o conteúdo do arquivo hxh.json direto no GitHub
      - name: Criar arquivo hxh.json (Método Texto)
        run: echo '${{ secrets.GCP_JSON_BASE64 }}' > hxh.json
      
      # --- OPÇÃO B: Se o seu Secret estiver realmente em BASE64 ---
      # Mantenha o seu bloco original APENAS se você converteu o arquivo antes
      # - name: Restaurar hxh.json a partir do segredo
      #   run: echo "$GCP_JSON_BASE64" | base64 -d > hxh.json
      #   shell: bash
      #   env:
      #     GCP_JSON_BASE64: ${{ secrets.GCP_JSON_BASE64 }}

      - name: Instalar dependências
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          
          # Instala o navegador E as dependências de sistema do Linux (CRÍTICO)
          python -m playwright install chromium
          python -m playwright install-deps 

      - name: Executar o script
        # xvfb-run é necessário pois seu script Python está com headless=False
        run: xvfb-run python main.py
