name: Automação Base Handedover

on:
  schedule:
    - cron: '*/5 * * * *'
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v3

      - name: Instalar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Criar arquivo hxh.json
        run: echo "${{ secrets.GCP_JSON_BASE64 }}" | base64 --decode > hxh.json

      - name: Instalar dependências
        run: |
          python -m pip install --upgrade pip
          pip install playwright gspread pandas oauth2client
          python -m playwright install chromium
          python -m playwright install-deps 

      - name: Executar o script
        env:
          SHOPEE_USER: ${{ secrets.SHOPEE_USER }}
          SHOPEE_PASS: ${{ secrets.SHOPEE_PASS }}
        run: python main2.py
