name: main

on:
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest
    timeout-minutes: 15     # Aumentado para 15 para dar margem à lentidão do SPX

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4 # Atualizado para v4

      - name: Instalar Python
        uses: actions/setup-python@v5 # Atualizado para v5
        with:
          python-version: '3.10'

      - name: Restaurar hxh.json a partir do segredo
        run: |
          if [[ -z "$GCP_JSON_BASE64" ]]; then
            echo "❌ Erro: Segredo GCP_JSON_BASE64 está vazio!"
            exit 1
          fi
          echo "$GCP_JSON_BASE64" | base64 -d > hxh.json
          echo "✅ hxh.json criado com sucesso."
        shell: bash
        env:
          GCP_JSON_BASE64: ${{ secrets.GCP_JSON_BASE64 }}

      - name: Instalar dependências
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          # Instala o navegador e as bibliotecas de sistema necessárias para o Linux
          playwright install chromium --with-deps 

      - name: Executar o script
        env:
          TZ: 'America/Sao_Paulo' # Garante que o PROD-HH.csv use a hora de Brasília
        run: xvfb-run python main2.py
